{% extends "AgenciaActorsFrontendBundle:Default:index.html.twig " %}
{% block title %}Directors{% endblock %}
{% block page_content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12 col-md-12">
                <h4 class="">Llistat de Directors</h4>
            </div>
            {% for director in directors %}
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <p><b>{{ director.name }} {{ director.lastname }}</b></p>
                        -Pelicules:
                    {% for peli in pelis %}
                        {% if peli.getDirector().getName() == director.getName() %}
                        <p><a href="">{{peli.getName()}}</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}